[submodule "infras/global"]
	path = infras/global
	url = git@github.com:balanced-cookbooks/infra-global.git
[submodule "roles/ansible-role-java"]
	path = roles/ansible-role-java
	url = https://github.com/vrischmann/ansible-role-java.git
[submodule "tests/zookeeper"]
	path = tests/zookeeper
	url = https://github.com/balanced-cookbooks/infra-zookeeper
[submodule "roles/kafka"]
        path = roles/kafka
        url = https://github.com/balanced-cookbooks/ansible-kafka
